@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

.app_light_theme,
.app_dark_theme,
.app_drawer,
body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  color: var(--text-redesigned);
  font: var(--font-m-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; // ширина scrollbar
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); // цвет дорожки
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); // цвет плашки
  border-radius: 20px; // закругления плашки
  border: 2px solid var(--primary-color); // padding вокруг плашки
}