.AddCommentForm {
  display: flex;
  border: 1px solid var(--primary-color);
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.input {
  flex-grow: 1;
}