.ArticleViewSelector {
  .notSelected {
    fill: var(--secondary-color);
  }
}

.ArticleViewSelectorRedesigned {
  .notSelected {
    fill: var(--light-bg-redesigned);
    color: var(--light-bg-redesigned);
  }
}