.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 16px;
  display: flex;
  align-items: center;
}

.addonLeft,
.addonRight {
  display: flex;
}

.clear {
  padding: 0;
  background: none;
  outline: none;
  border: none;
}

.outline {
  background: none;
  border-radius: 34px;

  &.normal {
    border: 2px solid var(--icon-redesigned);
    
    &:hover {
      border: 2px solid var(--accent-redesigned);
    }
  }

  &.error {
    border: 2px solid var(--cancel-redesigned);

    &:hover {
      opacity: 0.8;
    }
  }

  &.success {
    border: 2px solid var(--save-redesigned);

    &:hover {
      opacity: 0.8;
    }
  }
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 34px;

  &.normal {
    color: var(--icon-redesigned);
  }

  &.error {
    color: var(--cancel-redesigned);
  }

  &.success {
    color: var(--save-redesigned);
  }
}

.withAddon {
  padding: 0 16px;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}